.Demo {
    width:400px;
    height:400px;
    padding: 100px;
    border: 5px solid black;
    margin:auto;
    margin-top:200px;
  }
  body
  {
    background-image: url("Bg2.png");
  }
  .H1,.H2{
    width:205px;
    border: 1px solid black;
  }
  